{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Vivamus mattis velit eu semper ornare. Praesent varius lacus mauris, sed rhoncus odio molestie vitae. Fusce fringilla ante id justo consectetur mattis. Sed vitae lacus vel tellus gravida feugiat convallis a lacus. Aenean libero quam, suscipit vel turpis sit amet, facilisis luctus dolor. Phasellus efficitur ipsum lacus, ut molestie libero lacinia in. Cras purus erat, dapibus quis risus semper, commodo accumsan arcu. Nulla quis vestibulum urna, nec vehicula nisi. Maecenas fermentum velit ac quam sollicitudin vehicula. </p>
{% endblock content %}